<div class="faq--page__blocks-container">
    <h2 class="faq--page__blocks-question">
      {{ question | escape }}
    </h2>
    <p class="faq--page__blocks-answer">
      {{ answer | escape }}
    </p>
</div>