.page-title {
  margin-top: 0;
}

.main-page-title {
  margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .main-page-title {
    margin-bottom: 4rem;
  }
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}

/* .faq--page__header-title, 
.faq--page__header-description,
.faq--page__blocks-question,
.faq--page__blocks-answer {
  color: #008000;
} */

.color-green {
  color: #008000;
}

.color-blue {
  color: #0000ff;
}

.color-magenta {
  color: #ff00ff;
}

.color-black {
  color: #000000;
}

.faq--page {
  padding-left: 5rem;
  padding-right: 5rem;
}
